.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: var(--color-primary);
}

.navbar-logo img { /*ARREGLAR*/
    width: 40px;
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-links a,
.login-btn {
    color: var(--color-text-primary);
    text-decoration: none;
    font-family: var(--font-body);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn {
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: var(--color-hover);
}
