.user-container {
    display: flex;
}

.user-main {
    margin-left: 250px; 
    width: calc(100% - 250px);
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.user-title {
    font-size: 2.5rem;
    color: var(--color-primary);
    font-family: var(--font-title);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
